.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

p,h1,h2,h3,h4,h5,h6{
	margin: 0 !important;
	padding: 0 !important;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

  .maq{
    background-color: inherit;
  }
  
  .display{
    min-width: 50px;
    background-color: #3e8f00;
    height: 80px;
    width: 100%;
    border-radius: 5px;
    
    -moz-box-shadow:    inset 0 0 12px #313637;
    -webkit-box-shadow: inset 0 0 12px #313637;
    box-shadow:         inset 0 0 12px #313637;
	padding: 15px;
	color: white;
	text-align: justify;
  }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 860px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  
  .teclado{
    height: 250px;
    background-color: white;
	  margin-top: 10px;
	  margin-bottom: 10px;
	  padding: 10px;
	  border-radius: 5px;
	  
	-moz-box-shadow:    inset 0 0 3px #313637;
    -webkit-box-shadow: inset 0 0 3px #313637;
    box-shadow:         inset 0 0 3px #313637;
  }
  
  .monedas{
	padding-top: 5px;
	padding-left: 5px;
    height: 85px;
    background: inherit;
	  margin-top: 10px;
	  margin-right: 10px;
	  
	border-radius: 5px;
	  
	-moz-box-shadow:    inset 0 0 2px #313637;
    -webkit-box-shadow: inset 0 0 2px #313637;
    box-shadow:         inset 0 0 2px #313637;
  }
  
  .billetes{
	padding-top: 5px;
	padding-left: 5px;
    height: 155px;
	  margin-top: 10px;
	  margin-right: 10px;
	  
	 border-radius: 5px;
	  
	-moz-box-shadow:    inset 0 0 2px #313637;
    -webkit-box-shadow: inset 0 0 2px #313637;
    box-shadow:         inset 0 0 2px #313637;
  }
	
  .btn{
	  padding: 2px !important;
	  border: 1px solid black !important;
	  font-size: 16px !important;
	  margin-bottom: 5px;
  }
	
  div.btn:hover{
	 background-color: burlywood; 
  }

  div.btn:active{
	 background-color: floralwhite; 
  }	
	
  .circle{
	  height: 40px;
	  width: 40px;
	  border-radius: 100%;
  }
	
  .title{
	  text-align: left;
	  display: block;
	  margin: 5px !important;
  }
	
  .header-display{
	  background-color:#313637; 
	  padding-left: 220px;
	  padding-top: 10px;
	  padding-right: 10px;
	  
	  border-top-right-radius: 5px;
	  border-top-left-radius: 5px;
  }	

}
